/**
 * Form new observation
 */

#container {
    margin: 0 auto;
    width: 80%;
}

#canvas {
    display: none;
}

button {
    display: block;
}

/**
 * Viewer
 */

div.ob {
    margin: 2px;
    float: left;
}

.period_declaration h3 {
    margin: 1em 0 0 0;
}

.month {
    width: 4100px;
    clear: both;
}

p.ob_date {
    font-size: smaller;
    margin: 0;
}

.clearfix {
    float: left;
    clear: both;
}