{{template "base" .}}
{{define "title"}}{{.Project.Name}}{{end}}
{{define "body"}}
    <h1>{{.Project.Name}}</h1>
    <p>Viewer is available for week or month</p>
        <ul>
            <li>
                <a href="/project/{{.Project.Hash}}/viewer/week">week</a>
            </li>
            <li>
                <a href="/project/{{.Project.Hash}}/viewer/month">month</a>
            </li>
        </ul>

    {{$tf := .TimeFrame}}
    {{$months := .Months}}
    <div>
        {{/* map[int]map[int][]entity.Observation */}}
        {{range $year, $tfs := .Observations}}
            {{/* map[int][]entity.Observation */}}
            <div class="clearfix"><h2>{{ $year }}</h2></div>

            {{range $t, $obs := $tfs}}
                <div class="period_declaration clearfix">
                    <h3>
                        {{if eq $tf "month"}}
                            {{/* get el with index $tf from $months */}}
                            {{ index $months $t }}
                        {{ else}}
                            Week {{$t}}
                        {{ end }}
                    </h3>
                </div>
                {{/* []entity.Observation */}}
                <div class="month">
                    {{ range .}}
                        <div class="ob">
                            <p class="ob_date">{{.CreatedFormattedDate}}</p>
                            <img src="/static/images/observation/thumb/{{.Image}}"/>
                        </div>
                    {{end}}
                </div>

            {{ end}}
        {{ end }}
    </div>
{{end}}
